<div class="content">
	<h2>sign up</h2>
	<% form_for @user, users_path do |form| %>
		<%= render "shared/error_messages", :target => @user %>  
		<div id="signup-form">
			<div class="form_input string required" id="user_email_input">
				<label for="user_email">email<abbr title="required">*</abbr></label>
				<br/>
				<%= form.text_field :email %>
			</div>
  
			<div class="form_input password required" id="user_password_input">
				<label for="user_password">password <abbr title="required">*</abbr></label>
				<br/>
				<%= form.password_field :password %>
			</div>
  
			<div class="form_input password required" id="user_password_confirmation_input">
				<label for="user_password_confirmation">confirm password<abbr title="required">*</abbr></label>
				<br/>
				<%= form.password_field :password_confirmation %>
			</div>		  

			<div class="form_input string required" id="user_url_input">
				<label for="user_url">username<abbr title="required">*</abbr></label>
				<br/>
				<%= form.text_field :url %>
			</div>

			<div class="form_input commit">
				<input class="create" id="user_submit" name="commit" type="submit" value="sign up" />
			</div> 
		</div>
	<% end %>
</div>